# Data Cleaning Appendix

Michelle Hui (msh334)
Sydney Wan (ssw73)

We are comparing two datasets against each other. One is the Amazon Reviews dataset, specifically on products Amazon categorizes as "Beauty". The second is a dataset with market data on large beauty corporations in 2014-2015. We performed collection and cleaning, data description, and exploratory data analysis on both datasets. We have labeled in each section which of the two datasets we are looking at.

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

## Beauty Market Data

Reading in the raw csv file

In [3]:
market_data_raw = pd.read_csv('beauty_market_sales.csv')

In [4]:
market_data_raw

,Unnamed: 0,2014_sales_millions,2014_market_share_percent,2015_sales_millions,2015_market_share_percent,sale_change_percent,share_change_percent
0,L'Oréal USA,"1,797.9",39.1,"1,815.0",38.6,1.0,-0.5
1,Procter & Gamble,954.7,20.8,946.1,20.1,-0.9,-0.7
2,Revlon Inc.,670.5,14.6,661.6,14.1,-1.3,-0.5
3,Coty Beauty,262.3,5.7,263.8,5.6,0.5,-0.1
4,Johnson & Johnson,171.9,3.7,176.0,3.7,2.4,-
5,Subtotal,"3,857.4",84.0,"3,862.5",82.2,0.1,-1.8
6,Private label,49.5,1.1,56.2,1.2,13.6,0.1
7,Others,686.2,14.9,780.4,16.6,13.7,1.7

Renaming the ```Unnamed:0``` column title to company

In [5]:
market_data = market_data_raw.rename(columns = {'Unnamed: 0' : "Company"})

For our research purposes, we only are looking at the top 5 companies with clear company names, so we discard the 'Private label', 'Others', and 'Subtotal' rows

In [6]:
market_data = market_data.loc[0:4, :]
market_data

,Company,2014_sales_millions,2014_market_share_percent,2015_sales_millions,2015_market_share_percent,sale_change_percent,share_change_percent
0,L'Oréal USA,"1,797.9",39.1,"1,815.0",38.6,1.0,-0.5
1,Procter & Gamble,954.7,20.8,946.1,20.1,-0.9,-0.7
2,Revlon Inc.,670.5,14.6,661.6,14.1,-1.3,-0.5
3,Coty Beauty,262.3,5.7,263.8,5.6,0.5,-0.1
4,Johnson & Johnson,171.9,3.7,176.0,3.7,2.4,-

Upon inspection, we see below that the 2014 and 2015 sales in millions, as well as the share change percent columns are strings, are not numerical data types. We hard code these columns and change them to floats so that we can perform statistical analysis on them

In [7]:
market_data.dtypes

Company                       object
2014_sales_millions           object
2014_market_share_percent    float64
2015_sales_millions           object
2015_market_share_percent    float64
sale_change_percent          float64
share_change_percent          object
dtype: object

In [8]:
market_data.loc[:, '2014_sales_millions'] = [1797.9, 954.7, 670.5, 262.3, 171.9]
market_data.loc[:, '2015_sales_millions'] = [1815.0, 946.1, 661.6, 263.8, 176]
market_data.loc[:, 'share_change_percent'] = [-0.5, -0.7, -0.5, -0.1, 0]

In [15]:
#verifying that all dtypes are floats
market_data.dtypes

Company                       object
2014_sales_millions          float64
2014_market_share_percent    float64
2015_sales_millions          float64
2015_market_share_percent    float64
sale_change_percent          float64
share_change_percent         float64
dtype: object

In [10]:
market_data

,Company,2014_sales_millions,2014_market_share_percent,2015_sales_millions,2015_market_share_percent,sale_change_percent,share_change_percent
0,L'Oréal USA,1797.9,39.1,1815.0,38.6,1.0,-0.5
1,Procter & Gamble,954.7,20.8,946.1,20.1,-0.9,-0.7
2,Revlon Inc.,670.5,14.6,661.6,14.1,-1.3,-0.5
3,Coty Beauty,262.3,5.7,263.8,5.6,0.5,-0.1
4,Johnson & Johnson,171.9,3.7,176.0,3.7,2.4,0.0

Our last step in cleaning this data is to save the newly cleaned data to a new csv file, which we then read in again so that we don't have to rerun the previous code next time we want to use this data.

In [11]:
market_data.to_csv('beauty_market_data.csv', index = False)

In [12]:
market_sales = pd.read_csv('beauty_market_data.csv')

In [13]:
market_sales

,Company,2014_sales_millions,2014_market_share_percent,2015_sales_millions,2015_market_share_percent,sale_change_percent,share_change_percent
0,L'Oréal USA,1797.9,39.1,1815.0,38.6,1.0,-0.5
1,Procter & Gamble,954.7,20.8,946.1,20.1,-0.9,-0.7
2,Revlon Inc.,670.5,14.6,661.6,14.1,-1.3,-0.5
3,Coty Beauty,262.3,5.7,263.8,5.6,0.5,-0.1
4,Johnson & Johnson,171.9,3.7,176.0,3.7,2.4,0.0

## Amazon Reviews

Now we will read in the raw tsv file for the Amazon Beauty Product Reviews. We are skipping the lines that have extra columns in order to create consistency and prevent errors later on . The error_bad_lines skips these rows with weird entries, hence the long warning.

In [16]:
beauty_raw = pd.read_csv('amazon_reviews_us_Beauty_v1_00.tsv', sep = '\t', error_bad_lines=False)

b'Skipping line 10093: expected 15 fields, saw 22\nSkipping line 31965: expected 15 fields, saw 22\nSkipping line 49886: expected 15 fields, saw 22\nSkipping line 49905: expected 15 fields, saw 22\n'
b'Skipping line 67579: expected 15 fields, saw 22\nSkipping line 75367: expected 15 fields, saw 22\nSkipping line 92462: expected 15 fields, saw 22\nSkipping line 105041: expected 15 fields, saw 22\nSkipping line 109697: expected 15 fields, saw 22\nSkipping line 121931: expected 15 fields, saw 22\n'
b'Skipping line 139492: expected 15 fields, saw 22\nSkipping line 158729: expected 15 fields, saw 22\nSkipping line 165784: expected 15 fields, saw 22\nSkipping line 176996: expected 15 fields, saw 22\nSkipping line 182928: expected 15 fields, saw 22\nSkipping line 195841: expected 15 fields, saw 22\n'
b'Skipping line 196938: expected 15 fields, saw 22\nSkipping line 202535: expected 15 fields, saw 22\nSkipping line 261147: expected 15 fields, saw 22\n'
b'Skipping line 265777: expected 15 fields, saw 22\nSkipping line 277693: expected 15 fields, saw 22\nSkipping line 280010: expected 15 fields, saw 22\nSkipping line 296315: expected 15 fields, saw 22\nSkipping line 299043: expected 15 fields, saw 22\n'
b'Skipping line 334564: expected 15 fields, saw 22\nSkipping line 337801: expected 15 fields, saw 22\nSkipping line 341391: expected 15 fields, saw 22\nSkipping line 354940: expected 15 fields, saw 22\nSkipping line 366330: expected 15 fields, saw 22\nSkipping line 367649: expected 15 fields, saw 22\n'
b'Skipping line 399174: expected 15 fields, saw 22\nSkipping line 414439: expected 15 fields, saw 22\n'
b'Skipping line 473579: expected 15 fields, saw 22\nSkipping line 483540: expected 15 fields, saw 22\nSkipping line 499744: expected 15 fields, saw 22\nSkipping line 505775: expected 15 fields, saw 22\n'
b'Skipping line 547693: expected 15 fields, saw 22\nSkipping line 561254: expected 15 fields, saw 22\n'
b'Skipping line 609329: expected 15 fields, saw 22\nSkipping line 642814: expected 15 fields, saw 22\nSkipping line 643189: expected 15 fields, saw 22\nSkipping line 647075: expected 15 fields, saw 22\nSkipping line 647457: expected 15 fields, saw 22\n'
b'Skipping line 660868: expected 15 fields, saw 22\nSkipping line 668514: expected 15 fields, saw 22\nSkipping line 673314: expected 15 fields, saw 22\nSkipping line 700416: expected 15 fields, saw 22\n'
b'Skipping line 723492: expected 15 fields, saw 22\nSkipping line 725052: expected 15 fields, saw 22\nSkipping line 726222: expected 15 fields, saw 22\nSkipping line 744078: expected 15 fields, saw 22\nSkipping line 753129: expected 15 fields, saw 22\nSkipping line 758347: expected 15 fields, saw 22\nSkipping line 759076: expected 15 fields, saw 22\nSkipping line 759139: expected 15 fields, saw 22\nSkipping line 768106: expected 15 fields, saw 22\nSkipping line 777835: expected 15 fields, saw 22\nSkipping line 779763: expected 15 fields, saw 22\nSkipping line 781395: expected 15 fields, saw 22\n'
b'Skipping line 787023: expected 15 fields, saw 22\nSkipping line 811679: expected 15 fields, saw 22\nSkipping line 811739: expected 15 fields, saw 22\n'
b'Skipping line 855784: expected 15 fields, saw 22\nSkipping line 878325: expected 15 fields, saw 22\nSkipping line 886822: expected 15 fields, saw 22\nSkipping line 890742: expected 15 fields, saw 22\n'
b'Skipping line 919607: expected 15 fields, saw 22\nSkipping line 920655: expected 15 fields, saw 22\nSkipping line 923107: expected 15 fields, saw 22\nSkipping line 930890: expected 15 fields, saw 22\nSkipping line 932841: expected 15 fields, saw 22\n'
b'Skipping line 1003214: expected 15 fields, saw 22\nSkipping line 1007588: expected 15 fields, saw 22\nSkipping line 1018374: expected 15 fields, saw 22\nSkipping line 1022909: expected 15 fields, saw 22\nSkipping line 1030983: expected 15 fields, saw 22\nSkipping line 1048441: expected 15 fields, saw 22\n'
b'Skipping line 1056292: expected 15 fields, saw 22\nSkipping line 1056518: expected 15 fields, saw 22\nSkipping line 1073064: expected 15 fields, saw 22\nSkipping line 1088887: expected 15 fields, saw 22\nSkipping line 1103881: expected 15 fields, saw 22\nSkipping line 1111021: expected 15 fields, saw 22\nSkipping line 1111314: expected 15 fields, saw 22\n'
b'Skipping line 1119421: expected 15 fields, saw 22\nSkipping line 1119549: expected 15 fields, saw 22\nSkipping line 1130122: expected 15 fields, saw 22\nSkipping line 1132767: expected 15 fields, saw 22\nSkipping line 1143315: expected 15 fields, saw 22\nSkipping line 1151947: expected 15 fields, saw 22\nSkipping line 1154207: expected 15 fields, saw 22\nSkipping line 1154616: expected 15 fields, saw 22\nSkipping line 1155875: expected 15 fields, saw 22\nSkipping line 1164714: expected 15 fields, saw 22\nSkipping line 1164959: expected 15 fields, saw 22\nSkipping line 1169410: expected 15 fields, saw 22\n'
b'Skipping line 1184604: expected 15 fields, saw 22\nSkipping line 1203964: expected 15 fields, saw 22\nSkipping line 1211287: expected 15 fields, saw 22\nSkipping line 1217834: expected 15 fields, saw 22\nSkipping line 1235346: expected 15 fields, saw 22\nSkipping line 1238073: expected 15 fields, saw 22\nSkipping line 1238439: expected 15 fields, saw 22\n'
b'Skipping line 1246837: expected 15 fields, saw 22\nSkipping line 1263235: expected 15 fields, saw 22\nSkipping line 1265620: expected 15 fields, saw 22\n'
b'Skipping line 1312400: expected 15 fields, saw 22\nSkipping line 1314122: expected 15 fields, saw 22\nSkipping line 1319707: expected 15 fields, saw 22\nSkipping line 1337672: expected 15 fields, saw 22\nSkipping line 1343961: expected 15 fields, saw 22\nSkipping line 1346372: expected 15 fields, saw 22\nSkipping line 1358447: expected 15 fields, saw 22\nSkipping line 1370844: expected 15 fields, saw 22\n'
b'Skipping line 1406108: expected 15 fields, saw 22\nSkipping line 1435069: expected 15 fields, saw 22\nSkipping line 1439866: expected 15 fields, saw 22\n'
b'Skipping line 1442123: expected 15 fields, saw 22\nSkipping line 1463237: expected 15 fields, saw 22\nSkipping line 1469027: expected 15 fields, saw 22\nSkipping line 1469598: expected 15 fields, saw 22\nSkipping line 1482636: expected 15 fields, saw 22\nSkipping line 1484745: expected 15 fields, saw 22\nSkipping line 1499831: expected 15 fields, saw 22\n'
b'Skipping line 1508882: expected 15 fields, saw 22\nSkipping line 1514887: expected 15 fields, saw 22\nSkipping line 1527564: expected 15 fields, saw 22\nSkipping line 1569519: expected 15 fields, saw 22\n'
b'Skipping line 1583105: expected 15 fields, saw 22\nSkipping line 1604380: expected 15 fields, saw 22\nSkipping line 1607380: expected 15 fields, saw 22\nSkipping line 1631601: expected 15 fields, saw 22\n'
b'Skipping line 1642095: expected 15 fields, saw 22\nSkipping line 1646714: expected 15 fields, saw 22\nSkipping line 1655248: expected 15 fields, saw 22\nSkipping line 1657807: expected 15 fields, saw 22\nSkipping line 1667534: expected 15 fields, saw 22\nSkipping line 1668489: expected 15 fields, saw 22\nSkipping line 1691733: expected 15 fields, saw 22\nSkipping line 1701102: expected 15 fields, saw 22\nSkipping line 1701499: expected 15 fields, saw 22\n'
b'Skipping line 1704450: expected 15 fields, saw 22\nSkipping line 1706154: expected 15 fields, saw 22\nSkipping line 1712789: expected 15 fields, saw 22\n'
b'Skipping line 1773984: expected 15 fields, saw 22\n'
b'Skipping line 1846441: expected 15 fields, saw 22\nSkipping line 1848019: expected 15 fields, saw 22\nSkipping line 1856015: expected 15 fields, saw 22\nSkipping line 1858248: expected 15 fields, saw 22\nSkipping line 1859629: expected 15 fields, saw 22\nSkipping line 1873117: expected 15 fields, saw 22\nSkipping line 1894414: expected 15 fields, saw 22\n'
b'Skipping line 1902421: expected 15 fields, saw 22\nSkipping line 1909201: expected 15 fields, saw 22\nSkipping line 1914394: expected 15 fields, saw 22\nSkipping line 1936976: expected 15 fields, saw 22\nSkipping line 1940327: expected 15 fields, saw 22\nSkipping line 1945664: expected 15 fields, saw 22\nSkipping line 1946171: expected 15 fields, saw 22\nSkipping line 1946284: expected 15 fields, saw 22\nSkipping line 1946835: expected 15 fields, saw 22\nSkipping line 1952446: expected 15 fields, saw 22\nSkipping line 1953387: expected 15 fields, saw 22\n'

b'Skipping line 1979093: expected 15 fields, saw 22\nSkipping line 1982997: expected 15 fields, saw 22\nSkipping line 1992924: expected 15 fields, saw 22\nSkipping line 1996161: expected 15 fields, saw 22\nSkipping line 2003175: expected 15 fields, saw 22\nSkipping line 2024153: expected 15 fields, saw 22\nSkipping line 2026345: expected 15 fields, saw 22\n'
b'Skipping line 2041159: expected 15 fields, saw 22\nSkipping line 2042954: expected 15 fields, saw 22\nSkipping line 2044244: expected 15 fields, saw 22\nSkipping line 2047949: expected 15 fields, saw 22\nSkipping line 2051022: expected 15 fields, saw 22\nSkipping line 2052365: expected 15 fields, saw 22\nSkipping line 2064460: expected 15 fields, saw 22\nSkipping line 2077010: expected 15 fields, saw 22\nSkipping line 2083893: expected 15 fields, saw 22\n'
b'Skipping line 2097514: expected 15 fields, saw 22\nSkipping line 2100479: expected 15 fields, saw 22\nSkipping line 2103183: expected 15 fields, saw 22\nSkipping line 2108608: expected 15 fields, saw 22\nSkipping line 2116577: expected 15 fields, saw 22\nSkipping line 2127375: expected 15 fields, saw 22\nSkipping line 2128053: expected 15 fields, saw 22\nSkipping line 2135954: expected 15 fields, saw 22\nSkipping line 2137154: expected 15 fields, saw 22\nSkipping line 2140279: expected 15 fields, saw 22\nSkipping line 2150764: expected 15 fields, saw 22\nSkipping line 2151464: expected 15 fields, saw 22\nSkipping line 2151588: expected 15 fields, saw 22\nSkipping line 2157049: expected 15 fields, saw 22\n'
b'Skipping line 2163762: expected 15 fields, saw 22\nSkipping line 2167939: expected 15 fields, saw 22\nSkipping line 2172050: expected 15 fields, saw 22\nSkipping line 2177960: expected 15 fields, saw 22\nSkipping line 2202813: expected 15 fields, saw 22\nSkipping line 2207828: expected 15 fields, saw 22\nSkipping line 2211189: expected 15 fields, saw 22\nSkipping line 2211589: expected 15 fields, saw 22\nSkipping line 2214034: expected 15 fields, saw 22\nSkipping line 2214264: expected 15 fields, saw 22\nSkipping line 2214462: expected 15 fields, saw 22\nSkipping line 2215027: expected 15 fields, saw 22\nSkipping line 2215639: expected 15 fields, saw 22\nSkipping line 2216007: expected 15 fields, saw 22\nSkipping line 2217132: expected 15 fields, saw 22\nSkipping line 2226703: expected 15 fields, saw 22\n'
b'Skipping line 2231683: expected 15 fields, saw 22\nSkipping line 2245222: expected 15 fields, saw 22\nSkipping line 2256136: expected 15 fields, saw 22\nSkipping line 2269399: expected 15 fields, saw 22\nSkipping line 2283979: expected 15 fields, saw 22\n'
b'Skipping line 2340899: expected 15 fields, saw 22\nSkipping line 2342134: expected 15 fields, saw 22\nSkipping line 2342748: expected 15 fields, saw 22\nSkipping line 2348402: expected 15 fields, saw 22\nSkipping line 2355164: expected 15 fields, saw 22\nSkipping line 2357020: expected 15 fields, saw 22\n'
b'Skipping line 2366077: expected 15 fields, saw 22\nSkipping line 2366997: expected 15 fields, saw 22\nSkipping line 2367353: expected 15 fields, saw 22\nSkipping line 2414691: expected 15 fields, saw 22\n'
b'Skipping line 2464571: expected 15 fields, saw 22\nSkipping line 2466302: expected 15 fields, saw 22\nSkipping line 2487679: expected 15 fields, saw 22\nSkipping line 2487771: expected 15 fields, saw 22\n'
b'Skipping line 2506605: expected 15 fields, saw 22\nSkipping line 2511369: expected 15 fields, saw 22\n'
b'Skipping line 2558281: expected 15 fields, saw 22\nSkipping line 2607202: expected 15 fields, saw 22\n'
b'Skipping line 2625718: expected 15 fields, saw 22\nSkipping line 2640978: expected 15 fields, saw 22\nSkipping line 2650635: expected 15 fields, saw 22\nSkipping line 2670724: expected 15 fields, saw 22\n'
b'Skipping line 2690954: expected 15 fields, saw 22\nSkipping line 2713810: expected 15 fields, saw 22\nSkipping line 2715292: expected 15 fields, saw 22\nSkipping line 2724453: expected 15 fields, saw 22\nSkipping line 2724458: expected 15 fields, saw 22\nSkipping line 2735678: expected 15 fields, saw 22\nSkipping line 2740358: expected 15 fields, saw 22\nSkipping line 2751188: expected 15 fields, saw 22\n'
b'Skipping line 2763890: expected 15 fields, saw 22\nSkipping line 2766982: expected 15 fields, saw 22\nSkipping line 2813747: expected 15 fields, saw 22\n'
b'Skipping line 2819306: expected 15 fields, saw 22\nSkipping line 2883075: expected 15 fields, saw 22\n'
b'Skipping line 2975635: expected 15 fields, saw 22\n'
b'Skipping line 3391761: expected 15 fields, saw 22\n'
b'Skipping line 3474241: expected 15 fields, saw 22\n'
b'Skipping line 3690054: expected 15 fields, saw 22\nSkipping line 3720113: expected 15 fields, saw 22\n'
b'Skipping line 3763182: expected 15 fields, saw 22\n'
b'Skipping line 4929700: expected 15 fields, saw 22\n'
/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

We now save it as a csv file so we do not need to have to read in this large file again

In [17]:
beauty_raw.to_csv('amazonreviews_beauty_raw.csv',index=False)

In [18]:
beauty_raw = pd.read_csv('amazonreviews_beauty_raw.csv')

In [19]:
beauty = beauty_raw.copy()

Previewing the data again

In [20]:
beauty.head()

,marketplace,customer_id,review_id,product_id,product_parent,product_title,product_category,star_rating,helpful_votes,total_votes,vine,verified_purchase,review_headline,review_body,review_date
0,US,1797882,R3I2DHQBR577SS,B001ANOOOE,2102612,The Naked Bee Vitmin C Moisturizing Sunscreen ...,Beauty,5,0.0,0.0,N,Y,Five Stars,"Love this, excellent sun block!!",2015-08-31
1,US,18381298,R1QNE9NQFJC2Y4,B0016J22EQ,106393691,"Alba Botanica Sunless Tanning Lotion, 4 Ounce",Beauty,5,0.0,0.0,N,Y,Thank you Alba Bontanica!,The great thing about this cream is that it do...,2015-08-31
2,US,19242472,R3LIDG2Q4LJBAO,B00HU6UQAG,375449471,"Elysee Infusion Skin Therapy Elixir, 2oz.",Beauty,5,0.0,0.0,N,Y,Five Stars,"Great Product, I'm 65 years old and this is al...",2015-08-31
3,US,19551372,R3KSZHPAEVPEAL,B002HWS7RM,255651889,"Diane D722 Color, Perm And Conditioner Process...",Beauty,5,0.0,0.0,N,Y,GOOD DEAL!,I use them as shower caps & conditioning caps....,2015-08-31
4,US,14802407,RAI2OIG50KZ43,B00SM99KWU,116158747,Biore UV Aqua Rich Watery Essence SPF50+/PA+++...,Beauty,5,0.0,0.0,N,Y,this soaks in quick and provides a nice base f...,This is my go-to daily sunblock. It leaves no ...,2015-08-31

Here we converted the review date to datetime type. We then kept only the reviews written in 2015, which is the most recent year in the dataset. We then made sure that our market data was also for the year 2015 so the relationship would make sense.

In [21]:
# keeping reviews written in 2015
beauty['review_date'] = pd.to_datetime(beauty['review_date'])
beauty = beauty.loc[beauty['review_date'].dt.year == 2015]

As Amazon sells many smaller, indie brands, we are filtering for the select corporate brands that we will be analyzing. The five leading companies we will be looking at are L'oreal, Coty, Revlon, Johnson and Johnson, and Proctor and Gamble. We are including the leading brands that they own as additional brands to filter for.

In [22]:
loreal = ["L'oreal", 'Garnier', 'Maybelline', 'Nyx', 'Cerave']
coty = ['Rimmel', 'Covergirl', 'Sally Hansen']
revlon = ['Revlon', 'Almay']
jnj = ['Clean & Clear', 'Neutrogena', 'Aveeno', 'OGX', 'Lubriderm'] 
png = ['Olay','Herbal Essences', 'Pantene', 'Head and Shoulders','Aussie']
brands = loreal + coty + revlon + jnj #combining all the brands together
beauty = beauty.loc[beauty['product_title'].str.contains('|'.join(brands))] #only keeping the rows with our brands

In [23]:
# add columns by parent corporation
beauty.loc[beauty['product_title'].str.contains('|'.join(loreal)), 'corporation'] = "L'oreal"
beauty.loc[beauty['product_title'].str.contains('|'.join(coty)), 'corporation'] = "Coty"
beauty.loc[beauty['product_title'].str.contains('|'.join(revlon)), 'corporation'] = "Revlon"
beauty.loc[beauty['product_title'].str.contains('|'.join(jnj)), 'corporation'] = "Johnson & Johnson"
beauty.loc[beauty['product_title'].str.contains('|'.join(png)), 'corporation'] = "Proctor & Gamble"
beauty.corporation.value_counts()

L'oreal              22512
Johnson & Johnson    16946
Revlon               13946
Coty                  8154
Proctor & Gamble       143
Name: corporation, dtype: int64

In order to narrow the dataset down to a more reasonable size, we are randomly sampling 40,000 observations. We then reset the index on each dataset to be from 0-39,999.

In [24]:
# randomly narrowing down to 40,000
beauty = beauty.sample(n=40000).reset_index()

Here we are dropping the unecessary columns.
 - We first dropped the Marketplace column because all the products were sold in the US.
 - We also dropped the index column as we reset the index. 
 - We dropped product_category as all products fall into Beauty
 - total_votes is the same as helpful_votes and is redundant

In [25]:
# dropping marketplace, index column, product category, total votes
beauty = beauty.drop(columns= ['marketplace','index','product_category', 'total_votes'], axis=1)

Now we will save the newly cleaned data to a new file so we have all of our intermediary steps

In [26]:
# downloading cleaned csv file
beauty.to_csv('amazonreviews_beauty.csv',index=False)